## Build Folders
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code settings
.vscode/

## Visual Studio settings
*.ncb
*.aps
*.cache
*.ilk
*.log
*.pdb
*.sbr
*.sdf
*.opensdf
*.dbmdl
*.dbproj.schemaview
*.vspscc
*.vssscc
*.tmp
*.csproj.user
*.DotSettings.user

## dotCover
.idea/

## NuGet Packages
*.nupkg
packages/
# Uncomment if using package restore
# !packages/build/

## Logs
*.log

## Secrets (optional)
appsettings.Development.json

## Others
_ReSharper*/
*.vs/
